.api-box {
  background-image: url("./netflix api background.jpg");
  /* background-attachment: fixed; */
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.api-content > h4{
  color: white;
  text-align: center;
  font-size: 18px;
  font-size: 21px;
  padding: 0 10px;
  filter: drop-shadow(2px 4px 6px black);

}
.api-content > h5 {
  color: #005eff;
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
  width: max-content;
  margin: auto;
  margin-top: 7px;
  filter: drop-shadow(2px 4px 6px black);
}

.api-box-shadow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000ad;
  flex-direction: column;
  overflow: auto;
}
.api-content {
  position: relative;
}
.api-content > h1 {
  filter: drop-shadow(2px 4px 6px black);
  color: white;
  padding: 0 20px;
  font-size: 50px;
  text-align: center;
}

 .results-content{
  display: flex;
  padding: 50px 25px;
  align-items: center;
  justify-content: center;
}

.api-content > p {
  filter: drop-shadow(2px 4px 6px black);
  color: white;
  padding: 0 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
  margin-top: 30px;
}

hr {
  height: 7px;
  border: 0;
  background: #464646;
}

.resources{
  color: #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-family: sans-serif;
}
.resources > h1 {
  font-size: 40px;
  margin-left: 10px;
}

.resources > i {
  font-size: 35px;
}

.error{
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff8d8d94;
  width: 230px;
  margin: auto;
  padding: 10px 0px;
  color: #8c0007;
  border-radius: 9px;
  margin-top: 15px;
  position: absolute;
    width: 100;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 700px) {
  /* .api-box {
    height: 550px !important;
  } */

  .api-content > h1 {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .api-content > h1 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {

  .resources > h1 {
    font-size: 25px !important;
 
  }

  
  .resources > i {
    font-size: 25px !important;

  }

  .api-content > h1 {
    font-size: 25px;
  }
}
